<section>
    <div class="product-block">
        <a href="{{section.settings.product_img_url_top_left}}">
            <img class="product-img" src="{{section.settings.product_img_top_left | img_url: '1920x'}}">
            <div class="product-overlay-text-left">
                <h2>{{section.settings.product_text_top_left}}
                </h2>
            </div>
        </a>
    </div>
    <div class="product-block">
        <a href="{{section.settings.product_img_url_top_right}}">
            <img class="product-img" src="{{section.settings.product_img_top_right | img_url: '1920x'}}">
            <div class="product-overlay-text-right">
                <h2>{{section.settings.product_text_top_right}}
                </h2>
            </div>
        </a>
    </div>
</section>

<section>
    <div class="product-block">
        <a href="{{section.settings.product_img_url_bottom_left}}">
            <img class="product-img" src="{{section.settings.product_img_bottom_left | img_url: '1920x'}}">
            <div class="product-overlay-text-left-bottom">
                <h2>{{section.settings.product_text_bottom_left}}
                </h2>
            </div>
        </a>
    </div>
    <div class="product-block">
        <a href="{{section.settings.product_img_url_bottom_right}}">
            <img class="product-img" src="{{section.settings.product_img_bottom_right | img_url: '1920x'}}">
            <div class="product-overlay-text-right-bottom">
                <h2>{{section.settings.product_text_bottom_right}}
                </h2>
            </div>
        </a>
    </div>
</section>

{% schema %}
{
"name": "Products Homepage",
"settings": [
{
"type":"text",
"id": "product_text_top_left",
"default": "Enter Product Text",
"label": "Product Text Top Left"
},
{
"type": "image_picker",
"id": "product_img_top_left",
"label": "Product Image Top Left"
},
{
"type": "url",
"id": "product_img_url_top_left",
"label": "Product Image Link Top Left"
},
{
"type":"text",
"id": "product_text_top_right",
"default": "Enter Product Text",
"label": "Product Text Top Right"
},
{
"type": "image_picker",
"id": "product_img_top_right",
"label": "Product Image Top Right"
},
{
"type": "url",
"id": "product_img_url_top_right",
"label": "Product Image Link Top Right"
},
{
"type":"text",
"id": "product_text_bottom_left",
"default": "Enter Product Text",
"label": "Product Text Bottom Left"
},
{
"type": "image_picker",
"id": "product_img_bottom_left",
"label": "Product Image Bottom Left"
},
{
"type": "url",
"id": "product_img_url_bottom_left",
"label": "Product Image Link Bottom Left"
},
{
"type":"text",
"id": "product_text_bottom_right",
"default": "Enter Product Text",
"label": "Product Text Top Right"
},
{
"type": "image_picker",
"id": "product_img_bottom_right",
"label": "Product Image Bottom Right"
},
{
"type": "url",
"id": "product_img_url_bottom_right",
"label": "Product Image Link Bottom Right"
}
]
}
{% endschema %}