{% include 'breadcrumbs', title: 'Cart' %}

<section class="cart-section">
    <div class="product-list">
        <form method="post">
            {% for line_item in cart.items %}
            <div class="product-info">
                <div class="cart-product-image">
                    <img width="80" src="{{line_item.image | product_img_url: '1920x'}}" alt="{{line_item.title}}">
                </div>
                <div>
                    <a href="{{line_item.url}}">{{line_item.title}}</a>
                </div>
            </div>

            <div class="product-info-row">
                <div class="product-info-item">
                    <input type="number" class="" name="updates[]" value={{line_item.quantity}} min="0" pattern="[0-9]*"
                        style="width:30px;">
                </div>
                <div class="product-info-item">{{line_item.line_price | money}}</div>
                <div class="product-info-item">
                    <a class="product-remove" href="/cart/change?line={{forloop.index}}&quantity=0"
                        rel={{line_item.id}}><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>

            <!--Shopify Cart Documentation: https://shopify.dev/docs/liquid/reference/objects/cart -->
            {% endfor %}
            <div class="row justify-content-end cart-total">
                <div class="col-md-2">
                    Total:
                </div>
                <div class="col-md-2 total-amount">
                    {{cart.total_price | money}}
                </div>
            </div>
            <div class="cart-status-checkout">
                <input type="submit" name="checkout" class="btn" value="Checkout">
                <input type="submit" name="update" class="btn" value="Update">
            </div>
        </form>
    </div>
</section>