<div class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">> {{product.title}}</li>
            </ul>
        </nav>
    </div>
</div>


<section>
    <div class="img-block">
        {% for image in product.images %}
        <img src="{{image.src | img_url: '300x'}}" alt="">
        <div class="img-thumbs">
            <img src="{{image.src | img_url: '90'}}" alt="">
        </div>
        {% endfor %}
    </div>
    <div>
        <h1>{{product.title}}</h1>
        <p>{{product.description}}
        </p>
        <div class="product-category">
            <span>Size:</span>
            <select class="form-control">
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
        </div>
        <div class="product-category">
            <span>Color:</span>
            <select class="form-control">
                <option>Red</option>
                <option>Blue</option>
                <option>Green</option>
                <option>Orange</option>
            </select>
        </div>
        <div class="product-quantity">
            <span>Quantity:</span>
            <input min="1" type="number" id="quantity" name="quantity" value="1" />
        </div>
        <div class="product-category">
            <span>Categories:</span>
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">Soap</a></li>
            </ul>
        </div>
        <p>{{product.price | money}}</p>
        <a href="cart.html">Add To Cart</a>

        <div class="size-guide">
            <button class="accordion">Size Guide</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quae, eaque mollitia nostrum
                    beatae
                    esse odio corrupti accusamus nihil similique.</p>
            </div>
        </div>
    </div>
</section>