<div class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">> {{product.title}}</li>
            </ul>
        </nav>
    </div>
</div>


<section>
    <div class="img-block">
        {% for image in product.images %}
        <img src="{{image.src | img_url: '300x'}}" alt="">
        <div class="img-thumbs">
            <img src="{{image.src | img_url: '90'}}" alt="">
        </div>
        {% endfor %}
    </div>
    <div>
        <h1>{{product.title}}</h1>
        <p>{{product.description}}
        </p>
        <form method="post" action="/cart/add">
            <!-- Shopify Documentation: https://shopify.dev/docs/liquid/reference/objects/product -->
            {% unless product.has_only_default_variant %}
            {% for product_option in product.options_with_values%}
            <div class="product-category">
                <span>{{product_option.name}}</span>
                <select class="form-control" data-index="option{{forloop.index}}">
                    {% for value in product_option.values %}
                    <!-- set value of selected option as attribute  -->
                    <option value="{{value | escape }}" {% if product_option.selected_value == value %}
                        selected="selected" {% endif %}>
                        {{value}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
            {% endunless %}
            <div class="product-quantity">
                <span>Quantity:</span>
                <input min="1" type="number" id="quantity" name="quantity" value="1" />
            </div>
            <div class="product-category">
                <span>Categories:</span>
                <ul>
                    {% for collection in product.collections%}
                    <li><a href="{{collection.url}}">{{collection.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <p>{{product.price | money}}</p>
            <a href="cart.html">Add To Cart</a>
        </form>
        <div class="size-guide">
            <button class="accordion">Size Guide</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quae, eaque mollitia nostrum
                    beatae
                    esse odio corrupti accusamus nihil similique.</p>
            </div>
        </div>
    </div>
</section>