{% assign short_description = product.description | split: "Product Description" | first %}
{% assign product_description = product.description | split: "Product Description" | last | split: "Specifications" | first %}
{% assign specifications = product.description | split: "Specifications" | last %}

<script type="text/javascript">
    window.product = {{ product | json }} || {};
</script>

<!-- <div class="breadcrumbs">
    <div class="breadcrumbs-wrapper">
        <h1>About</h1>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">> {{product.title}}</li>
            </ul>
        </nav>
    </div>
</div> -->


<section class="single-product">
    <div class="img-block">
        {% for image in product.images %}
        <img class="single-product-img" src="{{image.src | img_url: '1920x'}}" alt="">
        <div class="img-thumbs">
            <img src="{{image.src | img_url: '90'}}" alt="">
        </div>
        {% endfor %}
    </div>
    <div>
        <h1>{{product.title}}</h1>
        <p>{{short_description}}
        </p>
        <form method="post" action="/cart/add">
            <!-- Shopify Documentation: https://shopify.dev/docs/liquid/reference/objects/product -->
            {% unless product.has_only_default_variant %}
            {% for product_option in product.options_with_values%}
            <div class="product-category">
                <span>{{product_option.name}}</span>
                <select class="form-control option-box" data-index="option{{forloop.index}}">
                    {% for value in product_option.values %}
                    <!-- set value of selected option as attribute  -->
                    <option value="{{value | escape }}" {% if product_option.selected_value == value %}
                        selected="selected" {% endif %}>
                        {{value}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
            {% endunless %}
            <div class="product-quantity">
                <span>Quantity:</span>
                <input class="product-quantity-input" min="1" type="number" id="quantity" name="quantity" value="1" />
            </div>
            <!-- <div class="product-category">
                <span>Categories:</span>
                <ul>
                    {% for collection in product.collections%}
                    <li><a href="{{collection.url}}">{{collection.title}}</a></li>
                    {% endfor %}
                </ul>
            </div> -->
            <p>{{product.price | money}}</p>
            <input type="hidden" id="variant-id" name="id" value={{product.variants.first.id}}>
            <button class="btn" type="submit" value="Add to Cart">Add To Cart</button>
        </form>

        <div class="product-information">
            <button class="accordion">Product Information & Size Guide</button>
            <div class="panel">
                {{product_description}}
            </div>
        </div>
        <div class="size-guide">
            <h3>Size Guide</h3>
            <div class="panel">
                {{specifications}}
            </div>
        </div>
    </div>
</section>